@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}
 html {
  font-size: 12px;
} 
.main {
  min-height: 689px;
  background: #9e9e9e;
  display: flex;
  justify-content: center;
}
.child {
  text-align: center;
  margin-top: 30px;
}
.child figure img {
  width: 30%;
  height: 15vh;
}
.child figure figcaption {
  color: #fff;
font-size: 20px;
  padding-top: 6px;
  text-transform: capitalize;
}
input {
 min-width: 500px;
  height: 8vh;
font-size: 20px;
  
margin-top:20px ;
  color: rgb(58, 57, 57);
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 100px;
  -webkit-box-shadow: inset 0 0.1rem 0.1rem rgb(0 0 0 / 8%);
  box-shadow: inset 0 0.1rem 0.1rem rgb(0 0 0 / 8%);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

input,
input:focus,
input:active,
input:active:focus {
  border: none;
padding: 20px;
  outline: none;
}
input {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
input:focus {
  -webkit-box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
}
.todo-btn {
  width: 10%;
  display: flex;
  justify-content: space-around;
}
.fa {
margin-left: -29px;
  cursor: pointer;
  pointer-events: auto;
  z-index: 10;
  background-color: #fff;
  background-image: none;
  color: #666;
  -webkit-transition: color 0.15s linear;
  transition: color 0.15s linear;
font-size: 20px;
}
.fa:hover {
  color: rgb(47, 214, 122);
}
.fa-plus:before {
font-size:20px ;
}
.showItems {
margin-top: 40px;
  text-align: center;
}
.eachItem {
  background: #fff;
padding: 15px;
  border-radius: 100px;
  margin-bottom: 10px;
margin-left: 20px;
word-break: break-word;
  background: rgb(85, 41, 220);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.eachItem:hover {
  background: rgb(249, 249, 252);
  color: rgb(85, 41, 220);
}
.showItems .eachItem h3 {
font-size:17px ;
  color: #fff;
}
.fa-trash-alt,
.fa-edit {
  cursor: pointer;
  pointer-events: auto;
  z-index: 10;
  color: rgb(251, 251, 251);
  -webkit-transition: color 0.15s linear;
  transition: color 0.15s linear;
font-size: 20px ;
}
.addItems .fa-edit {
  color: rgb(47, 214, 122);
}
.fa-edit { 
  margin-left: -35px ;
}
.eachItem:hover .fa-trash-alt {
  color: rgb(214, 47, 61);
}
.eachItem:hover .fa-edit {
  color: rgb(100, 214, 47);
}
.eachItem:hover h3 {
  color: rgb(85, 41, 220);
}
.btn {
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.btn:hover {
  text-decoration: none;
}
.effect04 {
  --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
  display: var(--uismLinkDisplay);
  color: #000;
  outline: solid 2px #000;
  position: relative;
  transition-duration: 0.4s;
  overflow: hidden;
}
.effect04::before,
.effect04 span {
  margin: 0 auto;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  transition-duration: 0.4s;
}
.effect04:hover {
  background-color: rgb(85, 41, 220);
}
.effect04:hover span {
  -webkit-transform: translateY(-400%) scale(-0.1, 20);
  transform: translateY(-400%) scale(-0.1, 20);
}
.effect04::before {
  content: attr(data-sm-link-text);
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(500%) scale(-0.1, 20);
  transform: translateY(500%) scale(-0.1, 20);
}
.effect04:hover::before {
  letter-spacing: 0.05em;
  -webkit-transform: translateY(0) scale(1, 1);
  transform: translateY(0) scale(1, 1);
}